

.clipped {
  -webkit-clip-path: url(#triangle-path);
  clip-path: url(#triangle-path);
  
}

.clipped-reverse {
  -webkit-clip-path: url(#triangle-path-reverse);
  clip-path: url(#triangle-path-reverse);
}